<div>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form [formGroup]="loginForm" (ngSubmit)="login" novalidate>
          <h1>Login Form</h1>
          <div>
            <input type="text" class="form-control" placeholder="Username" formControlName="UserName" />
          </div>
          <div>
            <input type="password" class="form-control" placeholder="Password" formControlName="Password" />
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" formControlName="Remember">Remember
            </label>
          </div>
          <div>
            <button class="btn btn-default submit" href="#" (click)="login()" [disabled]="loginForm.invalid">Log in</button>
            <a class="reset_pass" href="#">Lost your password?</a>
          </div>

          <div class="clearfix"></div>

          <div class="separator">

            <div class="clearfix"></div>
            <br />

            <div>
              <h1>
                <i class="fa fa-paw"></i> My Shop!</h1>
              <p>©2018 All Rights Reserved. HungPrince! is a Angular 6 and C#. Privacy and Terms</p>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
